<!DOCTYPE html>
<html
	xmlns:"http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard page</title>
</head>
<body>

	<section>

		<div class="container">
			<div class="card">
				<div class="card-body my-5">
					<div class="container text-center">
						<img style="width: 200px; height: 200px;"
							class="my_profile_picture" alt="" src=""
							th:src="@{'/img/'+${user.imageUrl}}">

					</div>
					<h1
						class="text-center mt-3 text-secondary font-italic font-weight-light">
						Start Adding Your Contacts On Cloud...</h1>

					<div class="container">
						<a th:href="@{/user/add-contact}"
							class="btn btn-primary mt-5 btn-block text-uppercase">Add New
							Contact</a>
						<hr>
						
						<!-- Payment Gateway Not Implemented... -->
						<!-- <div class="container">

							<h2 class="my-3">Donate Us</h2>
							<input id="payment_field" class="form-control my-2 "
								name="payment" type="text" placeholder="Enter amount here">

							<button onclick="paymentStart()"
								class="btn btn-success mt-4 btn-block text-uppercase">Checkout</button>
						</div> -->
						
						
						
					</div>
				</div>
			</div>

			<script>
		$(document).ready(()=>{
				$(".item").removeClass("active");
				$("#home-link").addClass("active");
		});
		
		</script>
	</section>

</body>
</html>