<!DOCTYPE html>
<html
	xmlns:"http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Change password page</title>
</head>
<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 220px;" class="col-md-12">
							<!-- <div class="alert alert-success text-center mt-3" role="alert">
								Change Your Password</div> -->
								<h2 class="container text-center m-3" >Change Your Password</h2>

							<!-- message box -->
							<div class="container" th:if="${session.message}">
								<div class="alert alert-danger my-2 text-center" role="alert">
									<span th:text="${session.message}"></span>
								</div>

								<th:block th:text="${#session.removeAttribute('message')}">
								</th:block>
							</div>

							<!-- Change Password form -->

							<form th:action="@{/change-password}" method="post">

								<!-- user email -->
								<div class="form-group m-3">
									<input required type="text" name="newpassword" id="password"
										class="form-control" placeholder="Enter new password here">
								</div>
								<div class="container text-center">
									<button class="btn btn-warning m-2">Change Password</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>